*{  
    margin:0 auto;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    background-image: url('/images/space-background.jpg');
    background-size: cover;
    background-repeat: repeat;
}
#space-ship{
  width: 80px;
  height: 80px;
  margin: auto;
  position: absolute;
  top:680px;
  left:780px;
}