*{  
    margin:0 auto;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    background-image: url('/images/space-background.jpg');
    animation:scroll-background 30s  linear infinite;
    position: relative;
    background-repeat:repeat;
    background-size: cover;
    background-position: bottom left;
    top: 0;
    left: 0;
}
.container{
    display: flex;
    justify-content: flex-start;
   
}
#game{
    width: 100%;
    height: 852px;
}
#space-ship{
    width: 80px;
    height: 80px;
    margin: auto;
    position: absolute;
    top:680px;
    left:780px;
}
@keyframes scroll-background {
    from {
        background-position-y: 0px;
    }
    to{
        background-position-y: 256px;
    }
}
#score-container{
    width: 4vw;
    height: 5vh;
    position: absolute;
    left: 1vw;
    top: 1vh;
}
#health-container{
    width: 9vw;
    height: 8vh;
    text-align: left;
    position: absolute;
    left: 90vw;
    top: 1vh;
}
#health-title{
    position: relative;
    left:1vw;
    margin-bottom: 0.2em;

}