*{  
    margin:0 auto;
    box-sizing: border-box;
}
body{
    background-color: #0f0f18;
}
.container{
    display: flex;
    justify-content: flex-start;
   
}
#game{
    width: 81vw;
    height: 855px;
    background-image: url('/images/space-background.jpg');
    animation:scroll-background 30s  linear infinite;
    position: relative;
    background-repeat:repeat;
    background-size: cover;
    overflow: hidden;

}
#space-ship{
    width: 75px;
    height: 75px;
    position: absolute;
    top:680px;
    left:48%;
}
@keyframes scroll-background {
    from {
        background-position-y: 0px;
    }
    to{
        background-position-y: 256px;
    }
}
#score-container{
    background-color: #0f0f18;
    color: white;
    width: 4vw;
    height: 5vh;
    top:1vh;
}
#health-container{
    background-color: #0f0f18;
    color: white;
    width: 8vw;
    height: 8vh;
    text-align: left;
    top:1vh;
   
}
#health-title{
    position: relative;
    left:1vw;
    margin-bottom: 0.2em;
}